<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-firebase-extended-notification"
        version="1.10.1">

    <name>Firebase Extended Notification Cordova Plugin</name>

    <description>Simple extended message from server as "data"</description>

    <repo>https://github.com/andrehtissot/cordova-plugin-firebase-extended-notification.git</repo>

    <keywords>notification, stackable, groupable, summarized, cordova, android, push, firebase</keywords>

    <license>MIT</license>

    <author>André Augusto Tissot</author>

    <js-module src="www/FirebaseExtendedNotification.js" name="FirebaseExtendedNotification">
        <clobbers target="FirebaseExtendedNotification" />
    </js-module>
    <!-- cordova -->
    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- dependencies -->
    <dependency id="cordova-plugin-fcm-with-dependecy-updated" />

    <!-- android -->
    <platform name="android">
        <framework src="src/android/FirebaseExtendedNotification.gradle" custom="true" type="gradleReference"/>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:exported="true" android:name="com.andretissot.firebaseextendednotification.NotificationActivity" android:launchMode="singleTop">
                <intent-filter>
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
            <service android:name="com.andretissot.firebaseextendednotification.MessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
            <provider android:name="android.support.v4.content.FileProvider"
                android:authorities="$PACKAGE_NAME.fbenfileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/firebaseextendednotification_provider_paths"/>
            </provider>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseExtendedNotification" >
                <param name="android-package"
                    value="com.andretissot.firebaseextendednotification.FirebaseExtendedNotification"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file
            src="src/android/FirebaseExtendedNotification.java"
            target-dir="src/com/andretissot/firebaseextendednotification" />
        <source-file
            src="src/android/NotificationActivity.java"
            target-dir="src/com/andretissot/firebaseextendednotification" />
        <source-file
            src="src/android/MessagingService.java"
            target-dir="src/com/andretissot/firebaseextendednotification" />
        <source-file
            src="src/android/Options.java"
            target-dir="src/com/andretissot/firebaseextendednotification" />
        <source-file
            src="src/android/Manager.java"
            target-dir="src/com/andretissot/firebaseextendednotification" />
        <resource-file src="res/android/xml/firebaseextendednotification_provider_paths.xml"
            target="res/xml/firebaseextendednotification_provider_paths.xml" />
        <hook type="before_prepare" src="scripts/beforePrepareBuild.js" />
    </platform>
</plugin>
